@-ms-viewport{
    width:device-width
}
html{
    box-sizing:border-box;
    -ms-overflow-style:scrollbar
}
*,::after,::before{
    max-width: 100%;
    box-sizing: border-box;
}

html,body {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	overflow-x: hidden; /* Ukrywa przewijanie poziome */
}

hr {
	max-width: 420px;
	color: #718093;
}

p {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
}

.parallax {
    height: 100%;
    width: 100%; /* Zmień z 80% na 100% */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
	text-decoration: none;
	color: #5352ed;
	transition: all .2s ease-in;
}

a:hover {
	text-decoration: none;
	color: #192a56;
	transition: all .2s ease-in;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    padding: 15px;
    padding-right: 19px;
    padding-left: 19px;
    font-size: 18px;
    transition: all .2s ease-in;
}

#myBtn:hover {
    background-color: #2980b9;
    transition: all .2s ease-in;
}

/* Navbar */

.topnav {
	list-style-type: none;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 6px 13px -7px rgba(0,0,0,0.20);
    transition: all .2s ease-in;
    font-weight: 700;
    text-transform: uppercase;
	text-align: center;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-size: 17px;
	transition: all .2s ease-in;
}

.topnav a:hover {
    color: #3498db;
	transition: all .2s ease-in;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (min-width: 800px) {
  div .max-width {
    max-width: 60%;
    margin: 0 auto;
    box-shadow: none;
  }
}

/* End Navbar */

#head {
	background-image: url("https://preview.redd.it/p88dciey8in91.jpg?width=1080&crop=smart&auto=webp&s=a7409e109dc0e85d0af259e5b0ab1506def6a10a");
	margin: 0;
	padding: 222px 0px 222px 0px;
	text-align: center;
	color: rgb(255, 255, 255);
}

#head h1 {
	font-size: 55px;
	font-weight: 700;
	text-transform: uppercase;
}

#head h3 {
	font-size: 22px;
	text-transform: uppercase;
}

#dc {
	margin: 10px;
	text-align: center;
	padding-top: 66px;
	padding-bottom: 66px;
}

#dc h1 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 15px;
}

#dc .features {
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 66px;
}

#dc .feature {
	font-size: 60px;
	color: #1c2630;
	margin-top: 17px;
}

#dc h2 {
	margin-top: 5px;
	font-size: 20px;
}

#dc p {
	margin-top: 3px;
	font-size: 18px;
}

#banner {
	background-image: url("https://i.imgur.com/XL2PAd3.png");
	padding: 75px 0px 75px 0px;
	text-align: center;
}

#banner2 {
	background-image: url("https://i.imgur.com/8P27W9N.png");
	padding: 75px 0px 75px 0px;
	text-align: center;
}

#banner3 {
	background-image: url("https://i.imgur.com/MljFIMA.png");
	padding: 75px 0px 75px 0px;
	text-align: center;
}

#banner h1 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
}

#banner h2 {
	margin-top: 5px;
	font-size: 20px;
	color: white;
}

#banner2 h1 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
}

#banner2 h2 {
	margin-top: 5px;
	font-size: 20px;
	color: white;
}

#banner3 h1 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
}

#banner3 h2 {
	margin-top: 5px;
	font-size: 20px;
	color: white;
}

#staff {
	margin: 10px;
	text-align: center;
	padding-top: 66px;
	padding-bottom: 66px;
}

#staff h1 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 15px;
}

#staff h2 {
	margin-top: 5px;
	font-size: 20px;
}

#staff p {
	margin-top: 3px;
	font-size: 18px;
}

#staff .stafflist {
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 66px;
	padding-bottom: 66px;
	text-align: center;
}

#staff .staffblock {
	transform: none;
	transition: all .2s ease-in;
	margin-bottom: 5px;
}

#staff .staffblock:hover {
	transform: scale(1.1,1.1);
	transition: all .2s ease-in;
}

#gamemodes {
	margin: 10px;
	text-align: center;
	padding-top: 66px;
	padding-bottom: 66px;
}

#gamemodes h1 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 15px;
}

#gamemodes h2 {
	margin-top: 5px;
	font-size: 20px;
}

#gamemodes p {
	margin-top: 3px;
	font-size: 18px;
}

#gamemodes .gray {
    background-color: #ecf0f1;
    padding: 0;
    margin: 0; /* Usuń negatywne marginesy */
}

#gamemodes .mode {
	margin: 15px;
	text-align: left;
	padding: 50px;
	max-width: 1280px;
}

#gamemodes .mode-inv {
	margin: 15px;
	text-align: right;
	padding: 50px;
	max-width: 1280px
}

#info {
	margin: 10px;
	text-align: center;
	padding-top: 66px;
	padding-bottom: 66px;
}

#info h1 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 15px;
}

#info h2 {
	margin-top: 5px;
	font-size: 20px;
}

#info p {
	margin-top: 3px;
	font-size: 18px;
}

#info .stafflist {
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 66px;
}

#info .staffblock {
	transform: none;
	transition: all .2s ease-in;
	margin-bottom: 5px;
}

#info .staffblock:hover {
	transform: scale(1.1,1.1);
	transition: all .2s ease-in;
}

@media screen and (min-width: 800px) {
	#gamemodes .img {
		margin: 15px;
		padding: 50px;
		max-width: 1280px
	}
}

@media screen and (max-width: 799px) {
	#gamemodes .img {
		padding: 50px 0px 50px 0px;
	}
}

#gamemodes .fixed-width {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

.voteblock a {
	font-weight: 700;
}


footer {
	background-color: #11171e;
	color: white;
}

.footer {
	max-width: 1280px;
	margin: 0 auto;
	float: none;
	padding-top: 0x;
	padding-bottom: 0px;
	text-align: center;
}

.fotter-img {
	text-align: center;
}
.footer-nav, .social {
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	margin: 0 100px;
	list-style: none;
	padding: 100;
	text-align: center; /* Nowy dodatek: wyśrodkowuje elementy w liście */
  }
  
  .footer-nav li, .social li {
	font-weight: bold;
	display: block; /* Zmiana na block, aby każdy link był w nowej linii */
	margin-bottom: 5px; /* Odstęp między linkami */
  }
  
  /* Nowy styl dla napisów */
  .footer-nav li:first-child, .social li:first-child {
	font-weight: bold;
	margin-bottom: 10px; /* Większy odstęp pod napisami */
  }
  

  .footer-content {
	margin-bottom: 40px;
  }

.copyright-notice {
	color: #30343a;
	margin: 0;
	margin-bottom: 0px;
	padding: 0;
	text-align: center;
	transition: all .2s ease-in;
	cursor: default;
}

.copyright-notice:hover {
	color: white;
	margin: 0;
	margin-bottom: 0px;
	padding: 0;
	text-align: center;
	transition: all .2s ease-in;
}

@media screen and (min-width: 800px) {
	.res-img {
		width: 480px;
	}
}

@media screen and (max-width: 799px) {
	.res-img {
		width: 100%;	}
}

@media screen and (min-width: 800px) {
	.res-img-sm {
		height: 110px;
	}
}

@media screen and (max-width: 799px) {
	.res-img-sm {
		width: 100%;	}
}

.icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .icon-container {
    /* Stylizacja kontenera z ikoną */
    display: flex;
    align-items: center;
}

.icon-container img {
    /* Stylizacja ikony */
    margin-right: 5px;
}

/* Dodatkowe style dla responsywności i estetyki */
button:hover {
		background-color: rgb(21, 0, 255);
  }

  button {
	/* ... pozostały kod CSS ... */
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  #ipToCopy {
	cursor: pointer; /* Zmienia kursor na wskaźnik, sugerując, że element jest klikalny */
  }


  button {
	font-weight: bold;
	background-color: black;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 20px;
	cursor: pointer;
	margin: 0 20px;
	font-size: 1.5em;
  }

  #discordButton {
    background-color: black;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}
  
  button:hover {
	background-color: #180488;
  }
